.azeites-txt {
    background-color: #a8a62b;
    padding-bottom: 45px;
    padding-top: 45px;

    p {
        font-family: 'Rosellinda Alyamore';
        font-weight: normal;
        font-style: normal;
        color: #fff;
        font-size: 55px;
        line-height: 45px;
    }
}

.intenso {
    margin-top: -9%;
    float: left;
}

.frutado {
    margin-top: -4%;
    float: left;
}

.black {
    margin-top: -5%;
    float: left;
}


/* Extra Small */
@media(max-width:767px) {
    .azeites-txt {
        padding-top: 15px;
        padding-bottom: 15px;

        p {
            font-size: 35px;
            line-height: 30px;
        }
    }
}

/* Small */
@media(min-width:768px) and (max-width:991px) {
    .azeites-txt {
        padding-bottom: 30px;
        padding-top: 30px;

        p {
            font-size: 40px;
            line-height: 35px;
        }
    }
}

/* Medium */
@media(min-width:992px) and (max-width:1199px) {}

/* Large */
@media(min-width:1200px) {}