.galeria-home {
    background: url(../images/bg-galeria-home.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    padding-bottom: 40px;
    padding-top: 40px;

    .img-responsive {
        border: solid 6px #000;
    }
}

// .video {
//     background-color: #aca727;
//     padding-bottom: 40px;
//     padding-top: 40px;

//     p {
//         font-family: 'Montserrat', sans-serif;
//         font-weight: 600;
//         color: #5a6223;
//         font-size: 15px;
//         line-height: 20px;
//     }
// }

.paralelo-31 {
    background-color: #000000;
    padding-bottom: 30px;
    padding-top: 30px;

    p {
        font-family: 'Rosellinda Alyamore';
        font-weight: normal;
        font-style: normal;
        color: #fff;
    }

    .txt1 {
        font-size: 70px;
        line-height: 50px;
    }

    .txt2 {
        font-size: 50px;
        line-height: 40px;
    }
}

.sobre-nos {
    background-color: #5a6223;
    padding-bottom: 30px;
    padding-top: 40px;

    p {
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        font-size: 15px;
        line-height: 25px;
        color: #c1c36a;
        margin-bottom: 15px;

        span {
            color: #fff;
        }
    }

    img {
        margin-bottom: 30px;
    }
}

.video {
    background: url(../images/bg-video.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 80px;
    padding-top: 80px;
    margin-top: -5px;

    h4 {
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        line-height: 25px;
        color: #ffffff;
        font-weight: 400;
        margin-bottom: 20px;

        span {
            font-weight: 800;
        }
    }

    img {
        margin-top: 30px;
    }
}

/* Extra Small */
@media(max-width:767px) {
    .galeria-home {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    // .video {
    //     padding-top: 15px;
    //     padding-bottom: 15px;

    //     p {
    //         font-size: 13px;
    //         line-height: 16px;
    //     }
    // }

    .paralelo-31 {
        padding-top: 15px;
        padding-bottom: 15px;

        .txt1 {
            font-size: 50px;
            line-height: 50px;
        }

        .txt2 {
            font-size: 35px;
            line-height: 35px;
        }
    }

    .sobre-nos {
        padding-top: 20px;
        padding-bottom: 5px;

        p {
            font-size: 13px;
            line-height: 16px;
            margin-bottom: 10px;
            text-align: justify;
        }

        img {
            margin-bottom: 15px;
            max-width: 60%;
        }
    }

    .video {
        background: url(../images/bg-video-mobile.jpg) no-repeat;
        background-size: cover;
        background-position: center;
    }
}

/* Small */
@media(min-width:768px) and (max-width:991px) {}

/* Medium */
@media(min-width:992px) and (max-width:1199px) {}

/* Large */
@media(min-width:1200px) {}