.paralelo {
    background: url(../images/bg-paralelo.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    padding-top: 50px;
    padding-bottom: 40px;

    .tt {
        margin-bottom: 30px;

        h4 {
            font-family: 'Rosellinda Alyamore';
            font-weight: normal;
            font-style: normal;
            font-size: 55px;
            line-height: 55px;
            margin-bottom: 10px;
            margin-top: 0px;
            color: #364213;
        }

        p {
            font-family: 'Montserrat', sans-serif;
            font-weight: 600;
            font-size: 13px;
            line-height: 20px;
            margin: 0 0 0 0;
            color: #000000;
        }
    }


    .slick-slide {
        img {
            border: solid 6px #000;
        }

    }

    .oliva-left {
        top: 19%;
        left: -5.5%;
        position: absolute;
        z-index: 100;
    }

    .oliva-right {
        top: 20%;
        right: -7.5%;
        position: absolute;
        z-index: 100;
    }
}

/* Extra Small */
@media(max-width:767px) {
    .paralelo {
        background: url(../images/bg-paralelo-mobile.jpg) no-repeat;
        background-size: cover;
        background-position: center center;
        padding-top: 30px;
        padding-bottom: 30px;

        .tt {
            h4 {
                font-size: 50px;
                line-height: 40px;
                text-align: center;
            }

            p {
                font-size: 11px;
                line-height: 16px;
                text-align: justify;
            }
        }

        .slick-slide {
            img {
                border: solid 4px #000;
            }

        }
    }
}

/* Small */
@media(min-width:768px) and (max-width:991px) {}

/* Medium */
@media(min-width:992px) and (max-width:1199px) {
    .paralelo {
        .oliva-left {
            top: 19%;
            left: -7%;
            position: absolute;
            z-index: 100;
        }

        .oliva-right {
            right: -9%;
        }
    }
}

/* Large */
@media(min-width:1200px) {}