.premios {
    background: url(../images/bg-premios.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    padding-top: 40px;
    padding-bottom: 50px;

    h4 {
        font-family: 'Rosellinda Alyamore';
        font-weight: normal;
        font-style: normal;
        color: #ffffff;
        font-size: 80px;
        line-height: 60px;
        text-align: right;
        margin-bottom: 50px;
    }
    p {
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        font-size: 14px;
        line-height: 24px;
        color: #ffffff;
        text-align: right;
        span {
            font-weight: 800;  
        }
    }
    img {
        float: right;
        margin-bottom: 60px;
    }
}

/* Extra Small */
@media(max-width:767px) {
    .premios {
        background: url(../images/bg-premios-mobile.jpg) no-repeat;
        background-size: cover;
        background-position: center center;
        padding-top: 10px;
        padding-bottom: 20px;
    
        h4 {
            font-size: 50px;
            line-height: 50px;
            margin-bottom: 20px;
        }
        p {
            font-size: 12px;
            line-height: 22px;
            text-align: right;
            br {
                display: none;
            }
        }
        img {
            float: right;
            margin-bottom: 20px;
        }
    }
}

/* Small */
@media(min-width:768px) and (max-width:991px) {}

/* Medium */
@media(min-width:992px) and (max-width:1199px) {}

/* Large */
@media(min-width:1200px) {}